@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  background-repeat: no-repeat;
  background-size: 100% 280px;
  background-position: top;
  background: linear-gradient(-45deg, #FF8008, #FFC837, #1D976C, #93F9B9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  width: 100%;
  max-width: 500px;
  color: #fff;
  animation: fade 1s ease-in;
}

.title {
  margin: 50px 0;
  width: 100%;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 10px;
  color: #fff;
  align-items: center;
  text-align: center;
  opacity: 0;
  animation: in 3s ease-out forwards;
  animation-delay: 1s;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.input-field {
  padding-left: 30px;
  width: 100%;
  height: 50px;
  background-color: #25273c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.input-button {
  width: 55px;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
}
.input-button:hover{
  background-color: #25273c;
  color: white;
  transition: 0.3s;
}

.todos-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3px;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.todos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto 60px;
      grid-template-columns: 60px auto 60px;
  place-items: center;
  width: 100%;
  min-height: 60px;
  background-color: #25273c;
  color: #fff;
  border: none;
  outline: none;
}

.todo-text {
  width: 100%;
  padding: 10px 0;
}

.done-button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.remove-button {
  background-color: transparent;
  border: none;
  width: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}

.todo-stats {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 60px;
  background-color: #25273c;
  color: #fff;
  border: none;
  outline: none;
}

.todo-clearbtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

/* animations */
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@keyframes in{
  0%{
    letter-spacing: -17px;
    opacity: 0;
  }
  30%{
    letter-spacing: 4px;
    opacity: 1;
  }
  100%{
    letter-spacing: 4px;
    opacity: 1;
  }
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}