@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*----------------------
       Varibles
-----------------------*/
:root {
  --main-color: #eaa023;
  --dark: #0c1023;
  --dark-light: #191f3a;
  --white: #ffffff;
  --white-light: #c8c8c8;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --white-25: rgb(255, 255, 255, 0.25);
  --white-40: rgb(255, 255, 255, 0.4);

}
a {
  text-decoration: none;
}
h1 {
  font-weight: 700;
  color: var(--white);
}
h4 {
  font-weight: 600;
  color: var(--white);
}
p {
  font-weight: 400;
  color: var(--white);
}
h2,
h3,
h5,
h6 {
  font-weight: 500;
  color: var(--white);
}
ul {
  list-style: none;
}
.btn {
  min-height: 50px;
  min-width: 150px;
  padding: 0 10px;
  background: rgba(255, 187, 0, 0.233);
  border: 2px solid rgb(255, 196, 0);
  margin-top: 20px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: all 1s ease forwards;
  position: relative;
}
section
{
  overflow: hidden;
}


.btn:hover {
  background: rgb(255, 188, 3);
}

/*----------------------
global Setting
-----------------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  -webkit-top-hightlight-color: transparent;
  font-weight: 300;
  color: var(--white-light);
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  
}
.sec-padding {
  padding: 80px 0;
}
.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 35px;
  text-transform: capitalize;
}
.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 24px;
  color: var(--main-color);
  font-family: "Dancing Script", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.min-vh-100 {
  min-height: 100vh;
}

/*---------------------
   pageloader          
---------------------*/
.pageloader
{
  position: fixed;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  background-color: var(--dark);
  z-index: 999;
  transition: all 0.6s ease;
}

.pageloader::before
{
  content:'';
  position: absolute;
  height: 4px;
  width:100px;
  background: var(--main-color);
  left: calc( 50% - 50px);
  top : calc( 50% - 2px);
  animation:  pageloader 1s  linear  infinite;

}

.pageloader.fade-out
{ 
  opacity: 0;
}

@keyframes pageloader {
  0%,100%
  {
    transform: translateX(-50px);
  }
  50%
  {
    transform: translateX(50px);
  }
  
}


/*---------------------
    header           
---------------------*/
.header {
  padding: 12px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}


.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-light);
  box-shadow: var(--shadow);
  z-index: -1;
  transition: transform 0.5s ease;
  transform: translateY(-100%);
}
.header.sticky::before {
  transform: translateY(0%);
}
.header .logo {
  min-height: 34px;
  display: flex;
  align-items: center;

  padding: 0 15px;
}
.header .logo a {
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: "Kaushan Script", sans-serif;
}
.header .nav-toggler {
  height: 34px;
  width: 44px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-toggler.active {
  position: absolute;
  right: 0;
  z-index: 1;
  transition: 0.3s;
  transform: translateX(-200px);
}

.header .nav-toggler span {
  height: 3px;
  width: 27px;
  display: block;
  background: var(--white);
  position: relative;
  transition: 0.5s;
}

.header .nav-toggler.active span {
  height: 2px;
  width: 22px;
  background: transparent;
  transform: rotate(360deg);
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--white);
}

.header .nav-toggler.active span::before {
  transform: rotateZ(45deg);
  transition: 0.5s ease;
}
.header .nav-toggler.active span::after {
  transform: rotateZ(-45deg);
  transition: 0.5s ease;
}
.header .nav-toggler span::before {
  transform: translateY(8px);
}
.header .nav-toggler span::after {
  transform: translateY(-8px);
}

.header .nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 280px;
  background-color: var(--dark);
  box-shadow: var(--shadow);
  overflow-y: auto;
  padding: 80px 0 40px;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.3s;
}
.header .nav.open {
  transform: translateX(0%);
  opacity: 1;
  transition: 0.3s;
}

.header .nav ul {
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 22px;
  color: var(--white);
  padding: 10px 30px;
  text-transform: capitalize;
  transition: color 0.3s ease;
  opacity: 0.2;
  transition: 0.7s;
  margin-top: 0px;
}
.header .nav.open ul li a {
  opacity: 1;
  margin-top: 10px;
  margin-left: 10px;
  transition: background-color 0.5s ease;
}

.header .nav ul li a:hover {
  color: rgb(0, 255, 157);
  background: var(--white-25);
}

/*------------------------------
     ----home-section-----        
------------------------------*/
.home-section {
  position: relative;
  background: rgba(0, 0, 0, 0.342);
  overflow: hidden;
}
.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.527);
 
}


.home-section .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("img/bg4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: zoomInOut 20s ease infinite;
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.home-section .min-vh-100 {
  padding: 100px 0;
}
.home-text {
  padding: 0 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  background: rgba(255, 255, 255, 0.062);
  text-align: center;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid var(--white-25);
}
.home-text h1 {
  font-size: 49px;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  text-transform: capitalize;
}
.home-text h4 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(255, 187, 0);
  font-family: "Courgette", cursive;
  text-transform: capitalize;
}
.home-text p {
  text-transform: capitalize;
}

/*--------------About Us  section ----------*/

.about-section {
  background: var(--dark-light);
 
}
.about-text,
.about-img {
  width: 50%;
  padding: 0 15px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
}

.about-text a {
  max-width: 200px;
}
.about-img h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  z-index: 1;
}
.about-text p {
  margin: 0 15px;
}
.about-img .btn {
  margin: 15px 0 0;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
  transition: 3s ease;
}
.about-img .img-box {
  position: relative;
  overflow: hidden;
}
.about-img .img-box 
{
    transform: scale(1);
    
}
.about-img .img-box img:hover
{
    transform: scale(1.2);
    transition: 3s ease;
}

.about-img .img-box h3 {
  position: absolute;
  background:transparent;
  margin-bottom: 5px;
  text-align: center;
  font-size: 30px;
  color: var(--dark);
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  margin-left: 20%; 
  margin-top: 5%;
}

.hero-img
{
    position: absolute;
    opacity: 0.2;
    height: 470px;
}

/*---------------------------
        menu section          
----------------------------*/
.menu-section
{
  background: var(--dark);
  padding-bottom: 60px;
  transition: 0.5s ease;
}

.menu-section .section-title
{
   margin-bottom: 40px;

}

.menu-tabs
{
  padding: 0 15px;
  width:100%;
  text-align: center;
  margin-bottom: 30px;
}
.menu-tab-item
{
  position: relative;
  font-size: 18px;
  font-family: inherit;
  text-transform: capitalize;
  border: none;
  background: transparent;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  margin:0 10px;
  transition: color 0.3s ease;
  display: inline-block;
  transition: 0.5s ease;
}
.menu-tab-item:hover{
  color: var(--main-color);
}

.menu-tab-item.active
{
  color: var(--main-color);
  
}


.menu-tab-content
{
    display: none;
    transition: 0.5s ease;
    transform: scale(1.3);
}

.menu-tab-content.active
{
   display: block;
   transition: 0.5s ease;
   transform: scale(1);
}


.menu-item
{
  width:50%;
  padding:20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
}

.menu-item::after{
  content:'';
  position: absolute;
  left:15px;
  right:15px;
  bottom:0;
  border-bottom:2px dashed var(--dark-light);
}

.menu-item:nth-last-of-type(2)::after,
.menu-item:nth-last-of-type(1)::after
{
  border: none;
}

.menu-item-title
{
  display: flex;
  align-items: center;
}

.menu-item-title img
{
  max-width: 140px;
  margin-right: 15px;
  transition: 0.5s ease;
}
.menu-item:hover .menu-item-title h3
{
  color: var(--main-color);
}
.menu-item-title h3
{
  font-size: 16px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.menu-item-price
{
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
  transition: color 0.3s ease;
}
.menu-item:hover .menu-item-price
{
  color: var(--white);
}

/*------------------------------
            testimonials      
-------------------------------*/
.testimonials-section
{
  background: var(--dark-light);
  padding-bottom: 50px;
}

.testi-item
{
  width:calc((100%/3) - 30px);
  margin: 0 15px 30px;
  border: 2px solid var(--dark-light);
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background: var(--dark);
}

.testi-author
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testi-author span
{
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}
.testi-author img
{
  max-width: 120px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid var(--dark-light);
  box-shadow: var(--shadow);
  transition: 0.5s ease;
  position: relative;
}

.testi-item:hover .testi-author img
{
   border-color: var(--main-color);
}

.testi-item p
{
  margin: 15px 0;
}
.testi-item .rating i
{
  font-size: 16px;
  color: var(--main-color);
}

/*---------------------------
          teams
---------------------------*/

.team-section
{
  background: var(--dark);
  padding-bottom: 125px;
}

.team-item 
{
  width:calc(100% /3);
  padding: 0 15px;
  position: relative;
  
}

.team-item img
{
  width: 100%;
  border-radius: 8px;
  transition: 0.5s  ease;
}
.team-item:hover img
{
  transform: skewY(2deg)
}

.team-item-info
{
  background: var(--dark-light);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom:0;
  transform: translateY(60%);
  transition: 0.6s ease;
  box-shadow: var(--shadow);
  
}

.team-item:hover .team-item-info
{
  transform: translateY(0%);
  background: var(--main-color);
}

/*---------------------------
          footer              
----------------------------*/
.footer
{
  padding: 80px 0 0;
  background-image: url("img/footer2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.footer::before
{
   content:'';
   position: absolute;
   left: 0;
   top: 0;
   width:100%;
   height:100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: -1;
}

.footer-item
{
  width:calc(100% / 3);
  padding:0 15px;
  text-align: center;
}

.footer-item h3
{
  text-transform: capitalize;
  font-size: 22px;
  margin:0 0 15px;
  color: var(--main-color);
}

.footer-item p
{
  line-height: 30px;
  text-transform: capitalize;
}
.footer-item .social-links
{
  margin-top: 15px;

}
.footer-item .social-links a{
  display: inline-flex;
  height: 40px;
  width: 40px;
   color: var(--white-light);
   font-size: 29px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s ease;
}

.footer-item .social-links a:hover
{
  color: var(--main-color);
}

.footer .copyright
{
  margin: 80px 0 0;
  width:100%;
  text-align: center;
  padding: 25px 15px;
  font-size: 14px;
  border-top: 1px solid var(--white-light);
}

/*---------------------------
          Responsive  start        
----------------------------*/
@media(max-width:991px)
{
    .testi-item
    {
      width:calc( 50% - 30px);
    }
    .team-item{
      width:50%;
    }
    .team-item:not(:last-child)
    {
      margin-bottom: 75px;
    }
}

@media(max-width:767px)
{
  
  .home-text h1{
      font-size: 50px;
      line-height: 65px;
  }
  .menu-item,
  .about-text,
  .about-img
  {
    width:100%;
  }
  .menu-item:nth-last-of-type(2):after{
    border-bottom: 2px dashed var(--darklight);
  }
  .about-img
  {
    margin-top: 40px;
  }

  .footer-item
  {
    width:100%;
  }
  .about-text h3
  {
    font-size: 24px;
  }
  .footer-item:not(:last-child)
  {
    margin-bottom: 30px;
  }
  .testi-item
  {
    width: calc(100% - 30px)
  }
}
@media(max-width:575px)
{
  .team-item{
    width: 100%;
  }
  
}

/*---------------------------
          Responsive end         
----------------------------*/






















/*------------------------------
    Custom Scrollbar Start
------------------------------*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 247, 220);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 81, 0);
}
/*------------------------------
    Custom Scrollbar End
------------------------------*/
