body {
    background-color: #FF6263;
}

.btn {
    width: 50%;
    height: 20vh;
    background-color: #e1a2b8;
    color: #be0000;
    border-radius: 54px;
    margin: auto;
    display: block;
    position: relative;
    top: 273px;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 0px -5px 7px #c75c42;

}

.btn:hover {
    background-color: #B4161B;
    box-shadow: 5px 5px 7px black;
    font-size: 35px;
    color: chartreuse;
}

.modal-content {
    background-color: #120E43;
}