<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Portal</title>
        <link rel="stylesheet" href="style.css">

</head>
<body>
    <h2>Assignment Submission Portal</h2>
        <div class="form-ct">

    <a href="index"><input type="submit" value="Submit Assignment"></a>
    <a href="search"><input type="submit" value="View Submision" ></a>
  </div>
  
</body>
</html>