body{
    background-color: aqua;
}
.form-ct{
    margin: auto;
    background-color: brown;
    box-shadow: 0 0 10px ;
    padding: 20px;
    border-radius: 10px;
}
input[type=text]{
    width: 100%;
    padding: 14px 20px;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background-color: #45a049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 4px;
   cursor: pointer;
}